# Project exclude paths
/cloud-consumer-order81/target/
/cloud-provider-payment8001/target/
/cloud-provider-payment8002/target/
/cloud-api-commons/target/
/cloud-eureka-server7001/target/
/cloud-eureka-server7002/target/
